{% extends 'base.html' %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h3 class="card-title">Confirmar Eliminación</h3>
                </div>
                <div class="card-body">
                    <p>¿Estás seguro de que quieres eliminar la película <span class="fw-bold">{{ object.nombre }}</span>?</p>
                    <form id="delete-form" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'pelicula_list' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}